<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h1>로그인</h1>
    <form action="">
        <section>
            <label>
                <input type="text" placeholder="아이디를 입력하세요">
                <i class="bi bi-person-fill"></i>
            </label>
            <label>
                <input type="text" placeholder="패스워드를 입력하세요">
                <i class="bi bi-eye-fill"></i>
            </label>
        </section>
        <section>
            <label>
                <input type="checkbox">
                <span>아이디저장</span>
            </label>
            <label>
                <input type="checkbox">
                <span>자동로그인</span>
            </label>
        </section>
        <section>
            <a href="#">아이디 찾기</a>
            <a href="#">패스워드 변경</a>
            <a href="#">회원가입</a>
        </section>
        <button>로그인</button>
    </form>
</main>
</body>
</html>


